@font-face {
  font-family: VisbyRoundCF-Regular;
  src: url(./Visby-Round-www.Dfonts.org/Visby-Round-www.Dfonts.org/OTF/VisbyRoundCF-Regular.otf)
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: VisbyRoundCF-Medium;
  src: url(./Visby-Round-www.Dfonts.org/Visby-Round-www.Dfonts.org/OTF/VisbyRoundCF-Medium.otf)
    format("opentype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: VisbyRoundCF-Bold;
  src: url(./Visby-Round-www.Dfonts.org/Visby-Round-www.Dfonts.org/OTF/VisbyRoundCF-Bold.otf)
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
